**
!dist/**
!server/dist/**
!grammar/package.json
!grammar/bindings/node/index.js
!grammar/src/node-types.json
!grammar/queries/**
!grammar/syntaxes/**
!grammar/build/Release/*.node
!grammar/prebuilds/**
!client/language-configuration.json
!package.json
!metta-stdlib.json
!LICENSE
!node_modules/node-addon-api/**
!node_modules/node-gyp-build/**
!node_modules/tree-sitter/**
!node_modules/vscode-*/**
